/* --------------------------------------------------------- Element design */

:root {
  --font-1: "Mulish", sans-serif; /* Texte*/
  --font-2: "Kanit", sans-serif; /* Title*/
  --font-3: "Courgette", cursive; /* Span*/

  --color-1: #fe735c; /* rose */
  --color-2: #dcdcf4; /* Gris */
  --color-3: #ffffff; /* Blanc */
  --color-4: #21201f; /* Noir */
}

/*----------------------------------------------------------------------Copier commentaire pour sectionner--------*/

span {
  font-family: var(--font-3);
  color: var(--color-1);
}

p,
a {
  font-family: var(--font-1);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-2);
}

/*---------------------------------------------------------------------------------------------Font--------*/

img {
  display: block;
  margin: auto;
}

header {
  display: flex;
  z-index: 10;
  box-shadow: 0px 3px 5px rgb(0, 0, 0, 0.25);
  position: fixed;
  top: 0px;
  width: 100%;
}
nav {
  display: flex;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.profile {
  display: flex;
  align-items: center;
}
.profile h1 {
  font-weight: bold;
  margin-left: 60px;
  color: rgb(50, 50, 50, 1);
  text-decoration: none;
}
li a {
  color: black;
  background-color: white;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
}
li a:hover {
  color: var(--color-1);
}
.download {
  color: white;
  background-color: var(--color-1);
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
}
.download:hover {
  color: white;
  background-color: var(--color-1);
  opacity: 0.9;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.3);
}

ul {
  display: flex;
  list-style: none;
}
.ulNav {
  display: flex;
  justify-content: space-around;
  margin-left: 514px;
  margin-top: 15px;
}
.ulNav li {
  float: right;
  margin: 10px;
}

.photo-testeur {
  border: 5px;
  height: 150px;
  width: 200px;
}

h2 {
  text-align: center;
  background-color: var(--color-1);
  color: var(--color-3);
  margin-top: 60px;
  font-family: var(--font-2);
}
h4 {
  margin: 20px 20px;
  padding: 20px;
  text-align: center;
  color: var(--color-4);
  font-family: var(--font-2);
}
p {
  margin: 0px 200px;
  padding: 0px 10px;
  font-size: 1.4em;
}
.container {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
.container img {
  height: 200px;
  border-radius: 20px;
}

iframe {
  display: block;
  margin: auto;
  width: 100%;
  height: 500px;
}
video {
  display: block;
  margin: auto;
  width: 100%;
  height: 500px;
}
.center {
  text-align: center;
  justify-content: center;
}

.images {
  width: 60%;
}

/*-------------------------------------------------------------------------------------Footer--------*/
footer {
  padding: 5px 5px;
  padding-bottom:50px;
  background-color: var(--color-1);
  display: flex;
  justify-content: space-evenly;
}
.border {
  justify-content: flex-start;
  display: flex;
  margin-top: 20px;
}

.box {
  justify-content: center;
  padding:0px 10px;
}
.box ul {
  list-style: none;
  color: white;
  text-decoration: none;
}
.box ul a {
  color: white;
}
.box ul a:hover {
  color: black;
}
