/* --------------------------------------------------------- Element design */

:root {
  --font-1: "Roboto", sans-serif; /* Text*/
  --font-2: 'Kanit', sans-serif; /* Title*/

  --color-1: #FE735C; /* rose */
  --color-2: #DCDCF4; /* Gris */
  --color-3: #ffffff; /* Blanc */
  --color-4: #21201F; /* Noir */
}



/*----------------------------------------------------------------------Copier commentaire pour sectionner--------*/


html body{
  font-family: var(--font-1);
}

img {
  display: block;
  margin: auto;
}
header {
  display: flex;
  border-bottom: 3px solid var(--color-1);
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-3);
  margin: 5px;
  margin-top: 15px;
}
.photo{
  width:100%;
  height:500px;
  
}
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  width: 200px;
  height: 90px  ;
}
.profile h1 {
  margin-left: -13px;
  font-weight: bold;
  color: rgb(50, 50, 50, 1);
  margin-top: 10px;
  font-size: 15px;
}
li a {
  color: va-color-3);
  background-color: var(--color-1);
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.5);
}
li a:hover {
  color: var(--color-3);
  box-shadow: inset 0px 2px 5px rgb(0, 0, 0, 0.5);
}

ul {
  display: flex;
  list-style: none;
}
.ulNav {
  display: flex;
  justify-content: space-around;
  margin-left: 700px;
  margin-top: 15px;
}
.ulNav li {
  float: right;
  margin: 10px;
}

.photo-testeur {
  border: 5px;
  height: 150px;
  width: 200px;
}

h2 {
  text-align: center;
  background-color: var(--color-1);
  color: var(--color-3);
  margin-top: 60px;
  font-family: var(--font-2);
}
h4 {
  margin: 20px 20px;
  padding: 20px;
  text-align: center;
  color: var(--color-4);
  font-family: var(--font-2);
}
p {
  margin: 0px 200px;
  padding: 0px 10px;
  font-size: 1.4em;
}
.container {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
.container img {
  height: 200px;
  border-radius: 6px;
  border: 3px solid #ef7b27;
}

iframe{
  display:block;
  margin:auto;
  width: 100%;
  height: 500px;
}
video{
  display:block;
  margin:auto;
  box-shadow:0px 2px 4px var(--color-4);
  width: 100%;
  height: 500px;
}
.center{
  P { text-align: center }
  justify-content:center;
  
}
footer {
  padding: 10px 40px;
  color: var(--color-3);
  background: #ef7b27;
  text-align: center;
}
footer h3 {
  padding: 10px 40px;
  color: var(--color-3);
  background: #ef7b27;
  text-align: center;
  display: block;
}

.images {
  margin-top: 60px;
  margin-bottom: 60px;
}