/* --------------------------------------------------------- Element design */

:root {
  --font-1:'Mulish', sans-serif; /* Texte*/
  --font-2: 'Kanit', sans-serif; /* Title*/
  --font-3:'Courgette', cursive; /* Span*/

  --color-1: #fe735c; /* rose */
  --color-2: #dcdcf4; /* Gris */
  --color-3: #ffffff; /* Blanc */
  --color-4: #21201f; /* Noir */
}

/*--------------------------------------------------------------------------------Dylan Header et HERO --------*/
p,
a {
  font-family: var(--font-1);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-2);
}
header {
  display: flex;
  z-index: 10;
  box-shadow: 0px 3px 5px rgb(0 ,0 ,0 ,.25);
  position: fixed;
  top: 0px;
  width: 100%;
}
nav {
  display: flex;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.profile {
  display: flex;
  align-items: center;
}
.profile h1 {
  font-weight: bold;
  margin-left: 60px;
  color: rgb(50, 50, 50, 1);
}
li a {
  color: black;
  background-color: white;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
}
li a:hover {
  color: var(--color-1);
}
.download{
  color: white;
  background-color: var(--color-1);
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
}
.download:hover{
  color: white;
  background-color: var(--color-1);
  opacity:0.9;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgb(0,0,0,.3);
}

ul {
  display: flex;
  list-style: none;
}
.ulNav {
  display: flex;
  justify-content: space-around;
  margin-left: 453px;
  margin-top: 15px;
}
.ulNav li {
  float: right;
  margin: 10px;
}
#hero {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
#hero .image-hero {
  width: 70%;
}
#hero .text-hero {
  color: rgb(50, 50, 50, 1);
  padding: 150px 30px 0px 60px;
  text-align: center;
  font-size: 1.2em;
  width: 30%;
}
.list-footer {
  list-style: square;
  display: inline;
  text-align: left;
}

.content-page {
  margin: 0 10% 0 10%;
}

/*------------------------CSS SECTION Hans-----------------------*/

.cards {
  margin-top: 100px;
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 50px 0px 50px 0px;
  background-color: var(--color-1);
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.container article {
  width: 33%;
  background-color: var(--color-3);
  border-radius: 3px;
  height: 300px;
  color: var(--color-4);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: 0px 30px 0px 30px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 0;
}

.container article:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.2);
  z-index: 0;
}

i {
  color: gold;
}

.profil img {
  width: 75px;
  height: 50px;
  border-radius: 100%;
  padding: 10px;
}

.image img {
  width: 100%;
  height: 150px;
}

.profil {
  display: flex;
  margin: 5px 5px 5px 15px;
}

.avis p {
  margin: 0;
}

.image {
  font-size: 12px;
  padding-top: 10px;
}

/*------------------------ THE END CSS SECTION hans-----------------------*/

/*------------------------CSS SECTION Alexandre-----------------------*/

#chiffre {
  background-color: #fe735c;
 
}
.unPeu {
  display: flex;
  justify-content: center;
}
#chiffre {
  margin-top:20%;
  
}
#chiffre div {
  width: 100%;
  height:50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
   margin-top:200px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin: 0px 30px 0px 30px;
}
.article {
  width: 25%;
  height: 30%;
  background-color: var(--color-3);
  border-radius: 3px;
  color: var(--color-1);
}
span {
  font-size: 30px;
}
.paraAlex {
  color: var(--color-1);
}

.paraAlex2 {
  color: var(--color-1);
}

.paraAlex3 {
  color: var(--color-1);
}




.dailyServicePour {
  display: flex;
  justify-content: center;
}
#benefice div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.beneArticle {
  width: 20%;
  background-color: var(--color-1);
  border-radius: 3px;
  color: var(--color-3);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin: 0px 30px 0px 30px;
}
#benefice p {
  display: flex;
  justify-content: center;
}

.entraide {
  width: 100%;
  height: 80%;
}
.deplacement {
  width: 100%;
  height: 80%;
}
.solidarite {
  width: 100%;
  height: 80%;
}

/*------------------------ THE END CSS SECTION Alexandre-----------------------*/

/*----------------------------------Avis Utilisateur fait par sebastien--------*/

.taille {
  /*background-color:white;*/
  margin: 10px;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  color: var(--color-4);
  align-content: center;
  width: 15%;
  /*box-shadow:0px 2px 10px #c1c1c1;*/
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 0;
}
.taille:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.2);
  z-index: 0;
}

#avisUtilisateurs {
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}

#avisUtilisateurs h3 {
  width: 100%;
  font-size: 4.2rem;
  text-align: center;
}
/*-------------------------------------------------------------------------------------Avis Utilisateur--------*/

/*-------------------------------------------------------------------------------------Footer--------*/
footer {
  padding: 10px 40px;
  color: var(--color-3);
  background: var(--color-1);
  text-align: center;
}
footer h3 {
  padding: 10px 40px;
  color: var(--color-3);
  background: var(--color-1);
  text-align: center;
  display: block;
}
.border {
  justify-content: flex-start;
  display: flex;
}
/*-------------------------------------------------------------------------------------AFooter--------*/
