



/* header*/

header{
  display:flex;
}

header img{
  height: 100px;
}


nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  top: 0;

  margin-top:10px;
}
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  width: 100px;
  height: 150px;
  
}
.profile h1 {
  margin-left: 10px;
  font-size: 15px;
}
i{
  dispay:flex;
  margin-left: 800px;
  margin-top:-50px;
  font-size:100px;
}
ul {
  display: flex;
  list-style-type: none;

}
.ulNav{
 display: flex; 
  justify-content: space-around;
  margin-left: 800px;
  text-indent:10px;
}