/* --------------------------------------------------------- Element design */

:root {
  --font-1: "Mulish", sans-serif; /* Texte*/
  --font-2: "Kanit", sans-serif; /* Title*/
  --font-3: "Courgette", cursive; /* Span*/

  --color-1: #fe735c; /* rose */
  --color-2: #dcdcf4; /* Gris */
  --color-3: #ffffff; /* Blanc */
  --color-4: #21201f; /* Noir */
}

/*--------------------------------------------------------------------------------Dylan Header et HERO --------*/

span {
  font-family: var(--font-3);
  color: var(--color-1);
}

p,
a {
  font-family: var(--font-1);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-2);
}

h2 {
  font-size: 2.5em;
  margin-bottom: 50px;
  text-align: center;
}

section {
  padding-top: 50px;
}
/*---------------------------------------------------------------------------------------------Font--------*/

header {
  display: flex;
  z-index: 10;
  box-shadow: 0px 3px 5px rgb(0, 0, 0, 0.25);
  position: fixed;
  top: 0px;
  width: 100%;
}
nav {
  display: flex;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.nav-right {
  float: right;
}
.profile {
  display: flex;
  align-items: center;
}
.profile h1 {
  font-weight: bold;
  margin-left: 60px;
  color: rgb(50, 50, 50, 1);
  text-decoration: none;
}
li a {
  color: black;
  background-color: white;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
}
li a:hover {
  color: var(--color-1);
}
.download {
  color: white;
  transition: all 0.2s ease-out;
  background-color: var(--color-1);
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
}
.download:hover {
  color: white;
  background-color: var(--color-1);
  opacity: 0.9;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.3);
}
.stores img {
  background: black;
  border-radius: 7px;
  transition: all 0.2s ease-out;
  height: 46px;
}
.stores img:hover {
  background: var(--color-1);
}

p .stores img:hover {
  background: gray;
}

ul {
  display: flex;
  list-style: none;
}

#hero {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
  text-align: left;
}
#hero .image-hero {
  width: 70%;
  z-index: -10;
}
#hero .text-hero {
  color: rgb(50, 50, 50, 1);
  padding: 150px 30px 0px 60px;
  text-align: left;
  font-size: 1.2em;
  width: 40%;
}

.content-page {
  margin: 0 10% 0 10%;
}

/*------------------------CSS SECTION Hans-----------------------*/

.cards {
  margin-top: 100px;
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 50px 0px 50px 0px;
  background-color: var(--color-3);
}

.container article {
  width: 33%;
  background-color: var(--color-3);
  border-radius: 3px;
  height: 300px;
  color: var(--color-4);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: 0px 30px 0px 30px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 0;
  border-radius: 20px;
  text-align: left;
}

.container article:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.2);
  z-index: 0;
}

i {
  color: gold;
}
.profil img {
  width: 75px;
  height: 50px;
  border-radius: 100%;
}

.image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.profil {
  display: flex;
  margin: 4% 4% 4% 4%;
}

.image p {
  margin: 4% 4% 4% 4%;
}
.avis p {
  margin: 0px 5px 0px 5px;
}
.avis i {
  margin-top: 3px;
}

.image {
  font-size: 12px;
  padding-top: 10px;
}

/*------------------------ THE END CSS SECTION hans-----------------------*/

/*------------------------CSS SECTION Alexandre-----------------------*/

#chiffre {
  background-color: #fe735c;
}
.spanCourgette {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2.5em;
  margin-bottom: 3%;
}
.chiffre1 {
  margin-top: 10%;
  padding: 5% 0 5% 0;
}
#chiffre div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.article {
  width: 15%;
  border-radius: 3em;
  color: var(--color-3);
  display: flex;
  text-align: center;
}
.ino {
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: var(--color-3);
  opacity: 0.7;
  margin-top: 13%;
}
.spanNumber {
  font-size: 4rem;
  color: white;
}
/*-------------------------------------*/
#benefice h2 {
  display: flex;
  justify-content: center;
  width: 100%;
}
#benefice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.beneArticle {
  width: 40%;
  background-color: var(--color-3);
  border-radius: 1em;
  color: var(--color-3);

  justify-content: center;
  box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10%;
}

.motBene {
  width: 80%;
  height: 90%;
}

.beneArticle span {
  font-size: 1.5em;

  width: 100%;
  text-align: center;
}

.beneArticleContent {
  color: black;
  padding: 0 10% 0 10%;
  text-align: center;
}

.localArticle,
.covoitArticle {
  margin-bottom: 7%;
}

/*------------------------ THE END CSS SECTION Alexandre-----------------------*/

/*----------------------------------Avis Utilisateur fait par sebastien--------*/

.taille {
  /*background-color:white;*/
  margin: 10px;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  color: var(--color-4);
  align-content: center;
  width: 15%;
  /*box-shadow:0px 2px 10px #c1c1c1;*/
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 0;
}
.taille:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.2);
  z-index: 0;
}

#avisUtilisateurs {
  margin-bottom: 5%;

  margin-top: 5%;
}

#avisUtilisateurs h3 {
  width: 100%;
  font-size: 4.2rem;
  text-align: center;
}
/*-------------------------------------------------------------------------------------Avis Utilisateur--------*/

/*-------------------------------------------------------------------------------------Footer--------*/
footer {
  padding: 5px 5px;
  padding-bottom: 50px;
  background-color: var(--color-1);
  display: flex;
  justify-content: space-evenly;
}
.border {
  justify-content: flex-start;
  display: flex;
  margin-top: 20px;
}
.box {
  justify-content: center;
  padding: 0px 10px;
}
.box ul {
  list-style: none;
  color: white;
  text-decoration: none;
}
.box ul a {
  color: white;
}
.box ul a:hover {
  color: black;
}
.list-footer {
  list-style: square;
  display: inline;
  text-align: left;
}
/*-------------------------------------------------------------------------------------AFooter--------*/
